<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TVTComment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TVTComment.Properties.Settings>
            <setting name="NiconicoUserId" serializeAs="String">
                <value />
            </setting>
            <setting name="NiconicoPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="NichanThreadSearchInterval" serializeAs="String">
                <value>00:00:15</value>
            </setting>
            <setting name="NichanResCollectInterval" serializeAs="String">
                <value>00:00:01</value>
            </setting>
            <setting name="ChatOpacity" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="UseDefaultChatCollectService" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowOpacity" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="WindowTopmost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NichanChatColor" serializeAs="String">
                <value />
            </setting>
            <setting name="ChatPreserveCount" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ClearChatsOnChannelChange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NichanHMKey" serializeAs="String">
                <value />
            </setting>
            <setting name="NichanAppKey" serializeAs="String">
                <value />
            </setting>
            <setting name="NichanUserID" serializeAs="String">
                <value />
            </setting>
            <setting name="NichanPassword" serializeAs="String">
                <value />
            </setting>
        </TVTComment.Properties.Settings>
    </userSettings>
</configuration>